* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.logo img {
    max-height: 10vh;
}

.logo {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: 0;
}

.logo h4 {
    margin-top: 15px;
    margin-left: 20px;
}

.logo a {
    display: flex;
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    width: 35%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.2s;
}

.nav-links li a:hover {
    color: #009900;
}

.fas {
    float: right;
    margin-left: 7px;
    padding-top: 4px;
}

.dropdown-menu {
    display: none;
}

nav ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
    background-color: black;
}

nav ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}

nav ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}

.container {
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
}

.grid-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    column-gap: 50px;
}

.grid-item-1 {
    position: relative;
}

.tours-container {
    padding: 30px;
    margin-bottom: 20px;
}

.sub-heading {
    font-size: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
}

.grid-item-1 img {
    float: left;
    width: 300px;
    height: 300px;
    border-radius: 2%;
    object-fit: cover;
    box-shadow: 4px 4px #a6a6a6;
}

.image-text-overlay {
    position: absolute;
    float: left;
    top: 85%;
    left: 4%;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.why-us-table {
    margin: auto;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
}

.why-us-table td {
    text-align: center;
}

.grid-item-2 h3 {
    font-size: 24px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: 600;
}

.grid-item-2 p {
    width: 20em;
    text-align: justify;
    line-height: 1.6;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}

.grid-item-2 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.footer-container {
    background-color: black;
}

.footer {
    display: flex;
    color: white;
    justify-content: space-around;
    padding-top: 30px;
    margin-top: 1em;
    font-family: 'Poppins', sans-serif;
    position: relative;
    height: 270px;
}

.footer-logo {
    text-transform: uppercase;
    margin-top: 5.5em;
    letter-spacing: 1em;
}

.footer-heading {
    display: flex;
    flex-direction: column;
}

.footer-heading h3 {
    margin-bottom: 10px;
}

.media-links {
    display: block;
    margin-top: 1em;
}

.media-links li {
    list-style: none;
    padding: 5px;
}

.media-links a {
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

.insta:hover {
    color: #ff1a75;
}

.fb:hover {
    color: #0000ff;
}

.tw:hover {
    color: #00ccff;
}

.fab {
    margin-right: 4px;
}

.phone-and-mail {
    margin-top: 1em;
}

.fa {
    margin-right: 7px;
}


video {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.overlay p {
    margin-top: 5px;
}

/* hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: inset;
    border-width: 1px;
} */