* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.logo {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
}

.logo a {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    width: 35%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.2s;
}

.nav-links li a:hover {
    color: #009900;
}

.fas {
    float: right;
    margin-left: 7px;
    padding-top: 4px;
}

.dropdown-menu {
    display: none;
}

nav ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
    background-color: black;
}

nav ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}

nav ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}

.container {
    min-height: 100%;
}

.grid-container-1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    column-gap: 50px;
}

.grid-item-1 {
    position: relative;
}

.tours-container {
    padding: 30px;
}

.sub-heading {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
}

.grid-item-1 img {
    float: left;
    width: 300px;
    height: 300px;
    border-radius: 2%;
    object-fit: cover;
    box-shadow: 4px 4px #a6a6a6;
}

.image-text-overlay {
    position: absolute;
    float: left;
    top: 85%;
    left: 2%;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.grid-container-2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    column-gap: 50px;
}

.grid-item-2 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #000000;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
} */

.footer-container {
    background-color: black;
}

.footer {
    display: flex;
    color: white;
    justify-content: space-around;
    padding-top: 50px;
    margin-top: 1em;
    font-family: 'Poppins', sans-serif;
    position: relative;
    height: 250px;
}

.footer-logo {
    text-transform: uppercase;
    margin-top: 4em;
    letter-spacing: 1em;
}

.footer-heading {
    display: flex;
    flex-direction: column;
}

.footer-heading h3 {
    margin-bottom: 10px;
}

.media-links {
    display: block;
}

.media-links li {
    list-style: none;
    padding: 5px;
}

.media-links a {
    color: white;
    text-decoration: none;
}

.insta:hover {
    color: #ff1a75;
}

.fb:hover {
    color: #0000ff;
}

.tw:hover {
    color: #00ccff;
}

.fab {
    margin-right: 4px;
}


video {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 1000;
}

/* hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: inset;
    border-width: 1px;
} */