table img {
    width: 400px;
    height: 250px;
    border-radius: 2%;
}

table {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.top-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}